<!-- header.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Brawl Life</title>
</head>

<body>
    <header>
        <a href="/"> <img class="" src="/src/logo-Brawl-Life3.png" alt="Logo" style="max-width: 75px;"></a>
        <!-- Ajustez la largeur de l'image ici -->
        <a href="/" style="text-decoration:none; color: white;">
            <h1>Brawl Life</h1>
        </a>
    </header>
</body>

</html>