<!-- menu.html -->

<div class="menu-toggle">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</div>
<nav>
    <ul class="menu">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">À propos</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>

<script>
const menuToggle = document.querySelector('.menu-toggle');
const nav = document.querySelector('nav');

menuToggle.addEventListener('click', () => {
    nav.classList.toggle('active');
});

// Fermer le menu lorsque l'utilisateur clique sur un lien
const menuItems = document.querySelectorAll('.menu a');
menuItems.forEach(item => {
    item.addEventListener('click', () => {
        nav.classList.remove('active');
    });
});


</script>