body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    /* Utilisez Flexbox pour aligner horizontalement les éléments */
    align-items: center;
    /* Alignez verticalement les éléments au centre */
    justify-content: center;
    /* Alignez horizontalement les éléments au centre */
}

h1 {
    font-size: 24px;
    margin-left: 10px;
    /* Marge à gauche pour séparer l'image du texte */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.character-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.character {
    text-align: center;
}

.character img {
    max-width: 260px;
    border-radius: 10px;
    cursor: pointer;
}

.accueil-img:hover {
    transform: scale(1.1);
    /* Augmentez la taille de 10% */
    transition: transform 0.3s ease;
    /* Ajoutez une transition fluide */
}

/* Styles pour les écrans plus petits (moins de 600px de large) */
@media screen and (max-width: 600px) {
    .character-container {
        flex-direction: column;
        align-items: center;
    }

    .character {
        margin-bottom: 20px;
    }

    .character img {
        max-width: 100%; /* Pour s'adapter à la largeur de l'écran */
    }
}

/* Styles pour les écrans très petits (moins de 400px de large) */
@media screen and (max-width: 400px) {
    .character p {
        font-size: 14px;
    }
}

.container .brawlers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.brawler {
    flex-basis: calc(33.33% - 10px);
    /* Affiche 3 brawlers par ligne avec un peu d'espace entre eux */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
}

.brawler img {
    max-width: 50%; /* Ajustez la largeur de l'image au maximum disponible */
    height: auto;
    display: block; /* Pour centrer l'image horizontalement */
    margin: 0 auto; /* Pour centrer l'image horizontalement */
    border-radius: 50%;
}

.brawler-details {
    text-align: center;
    margin-top: 10px;
}

.collapsible {
    position: relative;
}


.collapsible .content {
    display: none; /* Masquez le contenu par défaut */

}

.collapse-button {
    cursor: pointer;
    position: relative;
}

.arrow-icon {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.3s ease;
}